include ../mixins/title.pug
include ../mixins/userCard.pug

- const author = { id: f.page.author_id, username: f.page.author_username, permissionLevel: f.page.author_permission_level, avatar: f.page.author_avatar };
+title(env, f.page.title)
div(style="padding-bottom: 80px;")
    != md.render(f.page.content)
.create-stamp
    +userCard(author)
    span.sec-text erstellt am #{new Date(f.page.creation_time).toLocaleDateString("de")}
