include userCard.pug

mixin title(env, title)
    header
        h1.d-inline-block
            a(href="/") OpenGoethe
            br
            | #{title}
        if env.loggedIn
            +userCard(env.user, true)
        else
            button.btn.btn-primary.float-end.px-5(
                type="button",
                onclick!=`goto('/login?from=' + encodeURIComponent(window.location.pathname))`
            ) Login
