body {
    margin: 3% auto;
    background: #f2f2f2;
    color: #444444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    text-shadow: 0 1px 0 #ffffff;
}

#content {
    min-height: 75vh;
    max-width: 1240px;
}

#ver {
    font-family: Consolas;
}

h1>a {
    text-decoration: none;
}

header {
    margin-bottom: 20px;
}

a {
    color: #444444;
}

footer {
    align-items: center;
    justify-content: center;
}

.highlight {
    background-color: rgba(255, 243, 0, 0.7);
}

.no-select {
    user-select: none;
}

.login-img {
    float: right;
    border-radius: 50%;
    margin-left: 12px;
    position: relative;
}

img {
    object-fit: cover;
}

.avatar {
    max-width: 220px;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 6px;
}

.rank {
    border-style: solid;
    
}

.rank0 {
    border-color: rgb(108, 117, 125);
}

.rank1 {
    border-color: rgb(0, 238, 255);
}

.rank2 {
    border-color: rgb(0, 119, 255);
}

.rank3 {
    border-color: rgb(9, 255, 0);
}

.rank4 {
    border-color: rgb(255, 94, 0);
}

.rank5 {
    border-color: rgb(255, 0, 0);
}

.text-field {
    background-color: #e4e4e4;
    border-radius: 6px;
    padding: 15px;
}

.sec-text {
    font-size: 10pt;
    color: #828282;
}

.create-stamp {
    position: absolute;
    bottom: 0;
    height: 80px;
}
